[metadata]
name = housing-revanth
version = 0.0.1
author = Revanth Adiga
author_email = revanth.adiga@tigeranalytics.com
description = Housing Prediction Package
long_description = file: README.md
long_description_content_type = text/markdown
license = BSD 3-Clause License
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
package_dir=
    =src
packages=find:

python_requires = >=3.6

[options.packages.find]
where=src
